body{
  font-family: Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid gray;
}
ul{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
nav ul li a{
  display: inline-block;
  padding:15px 20px;
  text-decoration: none;
  color:black;
}
